<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <div class="card">-->
<!--        <div class="card-body table-responsive" >-->
<!--          <h3 class="mt-0 header-title uppercase">Members List</h3><br>-->
<!--          <table class="table table-bordered table-bordered dt-responsive nowrap">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th>#</th>-->
<!--              <th>Email</th>-->
<!--              <th>Username</th>-->
<!--              <th>Status</th>-->
<!--              <th>Role</th>-->
<!--              <th>View</th>-->
<!--              <th>Edit</th>-->
<!--              <th>delete</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let member of members; let i = index">-->
<!--              <td>{{ i + 1 }}</td>-->
<!--              <td>{{ member.email }}</td>-->
<!--              <td>{{ member.username }}</td>-->
<!--              <td>{{ member.status }}</td>-->
<!--              <td>{{ member.roles?.[0]?.name || 'No Role' }}</td>-->

<!--              <td style="white-space: nowrap; width: 1%;">-->
<!--                <div class="btn-group btn-group-sm" style="float: none;">-->
<!--                  <button type="button" (click)="view(member.id)" class="tabledit-edit-button btn btn-success" style="float: none;">-->
<!--                    <span class="mdi mdi-pencil">View</span>-->
<!--                  </button>-->
<!--                </div>-->
<!--              </td>-->

<!--              &lt;!&ndash; Edit Action &ndash;&gt;-->
<!--              <td>-->
<!--                <button type="button" (click)="edit(member.id)" class="tabledit-edit-button btn btn-danger" style="float: none;">-->
<!--                  <i class="mdi mdi-delete">Edit</i>-->
<!--                </button>-->
<!--              </td>-->

<!--              &lt;!&ndash; Delete Action &ndash;&gt;-->
<!--              <td>-->
<!--                <button type="button" (click)="delete(member.id)" class="tabledit-edit-button btn btn-danger" style="float: none;">-->
<!--                  <i class="mdi mdi-delete">Delete</i>-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
  <div class="datatable-top">
    <div class="datatable-dropdown">
      <label>
        <select class="datatable-selector" name="per-page">
          <option value="5">5</option>
          <option value="10" selected>10</option>
          <option value="15">15</option>
          <option value="-1">All</option>
        </select> entries per page
      </label>
    </div>
    <div class="datatable-search">
      <input class="datatable-input" placeholder="Search..." type="search" name="search" title="Search within table">
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body table-responsive">
            <h3 class="mt-0 header-title uppercase">Members List</h3><br>
            <table class="table table-bordered table-bordered dt-responsive nowrap" id="example">
              <thead>
              <tr>
                <th>#</th>
                <th>Email</th>
                <th>Username</th>
                <th>Status</th>
                <th>Role</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let member of members; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.username }}</td>
                <td>{{ member.status }}</td>
                <td>{{ member.roles?.[0]?.name || 'No Role' }}</td>
                <td style="white-space: nowrap; width: 1%;">
                  <div class="btn-group btn-group-sm" style="float: none;">
                    <button type="button" (click)="view(member.id)" class="tabledit-edit-button btn btn-success" style="float: none;">
                      <span class="mdi mdi-pencil">View</span>
                    </button>
                  </div>
                </td>
                <td>
                  <button type="button" (click)="edit(member.id)" class="tabledit-edit-button btn btn-danger" style="float: none;">
                    <i class="mdi mdi-delete">Edit</i>
                  </button>
                </td>
                <td>
                  <button type="button" (click)="delete(member.id)" class="tabledit-edit-button btn btn-danger" style="float: none;">
                    <i class="mdi mdi-delete">Delete</i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
