


<input type="checkbox" name="" id="menu-toggle">
<div class="overlay"><label for="menu-toggle">
</label></div>
<div class="sidebar">
  <div class="sidebar-container">
    <div class="brand">
      <h3>
        <span class="lab la-staylinked"></span>
        CRM
      </h3>
    </div>
    <div class="sidebar-avatar">
      <!--      <div>-->
      <!--        <i class="bi bi-person-square"></i>-->
      <!--&lt;!&ndash;        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQF9R2lxnH4fOw/profile-displayphoto-shrink_800_800/0/1639841285929?e=1654128000&v=beta&t=QvocDiNfivbaAzHjsX9fnl9eFa1ZSo4SBHeH4jZANEk" alt="avatar">&ndash;&gt;-->
      <!--      </div>-->

      <img src="../../assets/logo3.png"  style="width: 250px" alt="avatar">


      <!--        <span class="las la-angle-double-down"></span>-->

    </div>


    <div class="sidebar-menu">
      <ul class="nav flex-column">
        <li class="nav-item dropdown">
          <a class="nav-link"  id="dashboardDropdown" href="home" >
            <i class="bi bi-house-door"></i>&nbsp;&nbsp;<span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" (click)="toggleCollapse(0)" role="button">
            <i class="bi bi-person"></i>&nbsp;&nbsp;<span>User</span>
          </a>
          <div [ngClass]="{'collapse': !isCollapsed[0], 'show': isCollapsed[0]}" id="collapseExample">
            <div class="card card-body">
              <ul class="submenu-list">
                <li (click)="setActive('submenu1')" [ngClass]="{'active': activeSubmenu === 'submenu1'}" class="submenu-item">Submenu 1</li>
                <li (click)="setActive('submenu2')" [ngClass]="{'active': activeSubmenu === 'submenu2'}" class="submenu-item">Submenu 2</li>
                <li (click)="setActive('submenu3')" [ngClass]="{'active': activeSubmenu === 'submenu3'}" class="submenu-item">Submenu 3</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="ticketsDropdown" role="button" (click)="toggleCollapse(1)">
            <i class="bi bi-ticket-perforated"></i>&nbsp;&nbsp;<span>Tickets</span>
          </a>
          <div [ngClass]="{'collapse': !isCollapsed[1], 'show': isCollapsed[1]}" id="collapseTickets">
            <div class="card card-body">
              <ul class="submenu-list" >
                <li (click)="setActive('submenu4')" [ngClass]="{'active': activeSubmenu === 'submenu4'}" class="submenu-item">Submenu 4</li>
                <li (click)="setActive('submenu5')" [ngClass]="{'active': activeSubmenu === 'submenu5'}" class="submenu-item">Submenu 5</li>
                <li (click)="setActive('submenu6')" [ngClass]="{'active': activeSubmenu === 'submenu6'}" class="submenu-item">Submenu 6</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="slaDropdown" role="button"  (click)="toggleCollapse(2)">
            <i class="bi bi-file-richtext"></i>&nbsp;&nbsp;<span>SLA</span>
          </a>
          <div [ngClass]="{'collapse': !isCollapsed[2], 'show': isCollapsed[2]}" id="collapseSLA">
            <div class="card card-body">
              <ul class="submenu-list" >
                <li (click)="setActive('submenu4')" [ngClass]="{'active': activeSubmenu === 'submenu4'}" class="submenu-item">Submenu 4</li>
                <li (click)="setActive('submenu5')" [ngClass]="{'active': activeSubmenu === 'submenu5'}" class="submenu-item">Submenu 5</li>
                <li (click)="setActive('submenu6')" [ngClass]="{'active': activeSubmenu === 'submenu6'}" class="submenu-item">Submenu 6</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " id="reportsDropdown" role="button"  href="home/reports">
            <i class="bi bi-file-earmark-text"></i>&nbsp;&nbsp;<span>Reports</span>
          </a>
<!--          <div [ngClass]="{'collapse': !isCollapsed[3], 'show': isCollapsed[3]}" id="collapseReports">-->
<!--            <div class="card card-body">-->
<!--              <ul class="submenu-list" aria-labelledby="reportsDropdown">-->
<!--                <li (click)="setActive('submenu4')" [ngClass]="{'active': activeSubmenu === 'submenu4'}" class="submenu-item">Submenu 4</li>-->
<!--                <li (click)="setActive('submenu5')" [ngClass]="{'active': activeSubmenu === 'submenu5'}" class="submenu-item">Submenu 5</li>-->
<!--                <li (click)="setActive('submenu6')" [ngClass]="{'active': activeSubmenu === 'submenu6'}" class="submenu-item">Submenu 6</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
        </li>
      </ul>
      <!-- Toggle Button -->

      <!--        <button class="btn btn-primary" (click)="toggleCollapse()" type="button">-->
      <!--          Tickets-->
      <!--        </button>-->


      <!--      &lt;!&ndash; Collapsible Content &ndash;&gt;-->
      <!--      <div [ngClass]="{'collapse': !isCollapsed, 'show': isCollapsed}" id="collapseExample">-->
      <!--        <div class="card card-body">-->
      <!--          <ul class="submenu-list">-->
      <!--            <li (click)="setActive('submenu1')"  [ngClass]="{'active': activeSubmenu === 'submenu1'}" class="submenu-item">Submenu 1</li>-->
      <!--            <li (click)="setActive('submenu2')"  [ngClass]="{'active': activeSubmenu === 'submenu2'}" class="submenu-item">Submenu 2</li>-->
      <!--            <li (click)="setActive('submenu3')"  [ngClass]="{'active': activeSubmenu === 'submenu3'}" class="submenu-item">Submenu 3</li>-->
      <!--          </ul>-->
      <!--        </div>-->



    </div>

  </div>
  <!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>-->
  <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>-->

  <!--    <div class="sidebar-card">-->
  <!--      <div class="side-card-icon">-->
  <!--        <span class="lab la-codiepie"></span>-->
  <!--      </div>-->
  <!--      <div>-->
  <!--        <h4>Make AdSense</h4>-->
  <!--        <p>add ads to your videos to earn money</p>-->
  <!--      </div>-->
  <!--      <button class="btn btn-main btn-block">Create now</button>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
<div class="main-content">
  <header>
    <div class="header-wrapper">
      <label for="menu-toggle">
        <span class="bi bi-list "></span>
      </label>
      <div class="header-title">
        <h1>Analytics</h1>
        <!--        <p>Display analytics about your Channel <span class="las la-chart-line"></span></p>-->
      </div>
    </div>
    <div class="header-action">
      <button class="btn btn-main">
        <span class="las la-video"></span>
        User profile
      </button>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
