
    <div class="mat-container--header mat-headr hi" style="position: fixed">
<div>
  <a><img [src]="imagePath"  class="header--logo1 header--logo"/>
  </a>
</div>


      <div class="dropdown" >

<!--        <mat-icon class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">home</mat-icon>-->
        <button class="btn btn-secondary dropdown-toggle" style="border: none;background-color: #1f4380" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <mat-icon style="position:relative;top: 5px">account_circle</mat-icon> Admin
        </button>
<!--        <span class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Admin</span>-->
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">my profile</a></li>
          <li><a class="dropdown-item" href="#">Change Password</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>

    </div>


