<div class="loading authentication-bg authentication-bg-pattern">

  <div class="account-pages my-5">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">

          <div class="text-center" style="background-color: #294278;">
            <a><img src="logo.png"
                    class="mx-auto"></a>

          </div>



          <div class="card">
            <div class="card-body p-4">

              <div class="text-center mb-4">
                <h4 class="text-uppercase mt-0">Set Password</h4>
              </div>

              <form [formGroup]="passForm">


<!--                <div class="mb-3">-->
<!--                  <label for="emailaddress" class="form-label">Username</label>-->
<!--                  <input formControlName="userName" class="form-control" type="email"-->
<!--                         id="emailaddress" required="" placeholder="Enter your Username">-->
<!--                </div>-->
                <div class="mb-3">

                  <input  class="form-control" formControlName="token" name="token"   type="hidden"
                          id="token" >
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input  class="form-control" formControlName="password" name="password" type="password" required=""
                          id="password" placeholder="Enter your password">
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Confirm Password</label>
                  <input  class="form-control" formControlName="confirmPassword" name="confirmPassword" type="password" required=""
                          id="confirmPassword" placeholder="Enter your Confirm password">
                </div>

<!--                <div class="mb-3">-->
<!--                  <div class="form-check">-->
<!--                    <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>-->
<!--                    <label class="form-check-label" for="checkbox-signin">Remember me</label>-->
<!--                  </div>-->
<!--                </div>-->


                <div class="mb-3 d-grid text-center">
                  <button class="btn btn-primary" type="submit" (click)="callApi()" > Submit
                  </button>
                </div>
              </form>

            </div>
          </div>



        </div>
      </div>

    </div>
  </div>
</div>
