/* You can add global styles to this file, and also import other style files */
:root {
  --color-main: #f3950d;
  --main-accent: #ffebcc;
  --bg: #f5eedc;
  --bg-2: #dce5ff;
  --main: #292c6d;
  --shadow: rgba(17, 17, 26, 0.1) 2px 0px 16px;
}
