<div class="loading authentication-bg authentication-bg-pattern">

  <div class="account-pages my-5">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">

          <div class="text-center" style="background-color: #294278;">
            <a><img src="logo.png"
                    class="mx-auto"></a>

          </div>



          <div class="card">
            <div class="card-body p-4">

              <div class="text-center mb-4">
                <h4 class="text-uppercase mt-0">Forgot Password</h4>
              </div>

              <form [formGroup]="forgotPassForm" >


                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input formControlName="email" class="form-control" type="email"
                         id="email" required="" placeholder="Enter your Username">
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input  formControlName="password" class="form-control" type="password" required=""
                          id="password" placeholder="Enter your password">
                </div>

                <div class="mb-3">
                  <label for="confirmPassword" class="form-label">Confirm Password</label>
                  <input  formControlName="confirmPassword" class="form-control" type="password" required=""
                          id="confirmPassword" placeholder="Enter your Confirm password">
                </div>

                <div class="mb-3">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                    <label class="form-check-label" for="checkbox-signin">Remember me</label>
                  </div>
                </div>


                <div class="mb-3 d-grid text-center">
                  <button class="btn btn-primary" type="submit" (click)="submit()"> Submit
                  </button>
                </div>
              </form>

            </div>
          </div>



        </div>
      </div>

    </div>
  </div>
</div>
